In [1]:
import pandas as pd #pandas library
from pandas_datareader import data #data readers (google, html, etc.)
#The following line ensures that graphs are rendered in the notebook
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt #Plotting library
import datetime as dt #datetime for timeseries support

In [2]:
data = {'nationality': ['UK', 'China', 'US', 'UK', 'Japan', 'China', 'UK', 'UK', 'Japan', 'US'],
        'age': [25, 30, 15, np.nan, 25, 22, np.nan,45 ,18, 33],
        'type': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'diabetes': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
df = pd.DataFrame(data, index=labels)

In [35]:
df

    age diabetes    nationality  type
a  25.0      yes             UK     1
b  30.0      yes          China     3
c  15.0       no  United States     2
d   NaN      yes             UK     3
e  25.0       no          Japan     2
f  22.0       no          China     3
g   NaN       no             UK     1
h  45.0      yes             UK     1
i  18.0       no          Japan     2
j  33.0       no  United States     1

In [36]:
df.groupby("nationality")['age'].mean()

nationality
China            26.0
Japan            21.5
UK               35.0
United States    24.0
Name: age, dtype: float64

In [34]:
 df['nationality'] = df['nationality'].replace('US', 'United States')

In [28]:
df

    age diabetes    nationality  type
a  25.0      yes             UK     1
b  30.0      yes          China     3
c  15.0       no  United States     2
d   NaN      yes             UK     3
e  25.0       no          Japan     2
f  22.0       no          China     3
g   NaN       no             UK     1
h  45.0      yes             UK     1
i  18.0       no          Japan     2
j  33.0       no  United States     1

In [69]:
 df.sort_values(['age','type'],ascending=[False,True])

    age diabetes    nationality  type
h  45.0      yes             UK     1
j  33.0       no  United States     1
b  30.0      yes          China     3
a  25.0      yes             UK     1
e  25.0       no          Japan     2
f  22.0       no          China     3
i  18.0       no          Japan     2
c  15.0       no  United States     2
g   NaN       no             UK     1
d   NaN      yes             UK     3