In [257]:
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
import datetime

In [258]:
df = pd.read_csv('nyc.csv',header=0)

In [259]:
df["Borough"] = df["Borough"].str.replace('\d+', '')
df["Borough"] = df["Borough"].str.replace('Unspecified', '')    
df["Borough"] = df["Borough"].str.strip()
df["borough_num"] = df["Borough"].map({"MANHATTAN":1, "BROOKLYN":2, "QUEENS":3, "STATEN ISLAND":4, "BRONX":5})
df["borough_num"].fillna(0, inplace= True)
df['borough_num'] = df['borough_num'].astype(int)
df = df[df["borough_num"] != 0]

In [260]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [261]:
df["Created Date"] = pd.to_datetime(df["Created Date"])

In [262]:
df["Created Date"].dtype

dtype('<M8[ns]')

In [263]:
df['month'] = df['Created Date'].apply(lambda x:x.month)

In [264]:
df['hour'] = df['Created Date'].apply(lambda x:x.hour)

In [265]:
df['weekday'] = df['Created Date'].apply(lambda x:x.weekday())

In [266]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Descriptor,Borough,processing_time,borough_num,month,hour,weekday
0,32305299,2016-01-01 00:00:09,2016-01-01 01:57:32,NYPD,Loud Music/Party,BROOKLYN,0.081516,2,1,0,4
1,32310343,2016-01-01 00:00:40,2016-01-01 03:12:53,NYPD,Loud Music/Party,BRONX,0.133484,5,1,0,4
2,32309107,2016-01-01 00:01:09,2016-01-21 09:20:55,HPD,NO LIGHTING,BRONX,20.388727,5,1,0,4
4,32309212,2016-01-01 00:03:03,2016-01-08 01:13:00,HPD,ENTIRE BUILDING,BRONX,7.048576,5,1,0,4
5,32305983,2016-01-01 00:03:03,2016-01-01 03:24:46,NYPD,Loud Music/Party,QUEENS,0.140081,3,1,0,4

In [267]:
df["Agency"].unique()

array(['NYPD', 'HPD', 'DOHMH', 'DOT', 'DSNY', 'DEP', 'DOB', 'TLC', 'FDNY',
       'DPR', 'EDC', 'DOF', 'DCA', 'DFTA', 'DOE', '3-1-1'], dtype=object)

In [268]:
agency_num = {}
for num, agency in enumerate((df['Agency'].unique())): 
    agency_num[agency] = num
df['agency_num'] = df['Agency'].apply(lambda x: agency_num[x])

In [269]:
def transform_processing(time):
    if time > 1:
        return 1
    else:
        return 0

In [270]:
df["processing_time_window"] = df["processing_time"].apply(transform_processing)

In [271]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Descriptor,Borough,processing_time,borough_num,month,hour,weekday,agency_num,processing_time_window
0,32305299,2016-01-01 00:00:09,2016-01-01 01:57:32,NYPD,Loud Music/Party,BROOKLYN,0.081516,2,1,0,4,0,0
1,32310343,2016-01-01 00:00:40,2016-01-01 03:12:53,NYPD,Loud Music/Party,BRONX,0.133484,5,1,0,4,0,0
2,32309107,2016-01-01 00:01:09,2016-01-21 09:20:55,HPD,NO LIGHTING,BRONX,20.388727,5,1,0,4,1,1
4,32309212,2016-01-01 00:03:03,2016-01-08 01:13:00,HPD,ENTIRE BUILDING,BRONX,7.048576,5,1,0,4,1,1
5,32305983,2016-01-01 00:03:03,2016-01-01 03:24:46,NYPD,Loud Music/Party,QUEENS,0.140081,3,1,0,4,0,0

In [272]:
# Question 1: transforming the data
def filter_nyc():
    df = pd.read_csv('nyc.csv',header=0)

    # Your work here
    df.drop("Unnamed: 0", axis=1, inplace=True)
    df["Created Date"] = pd.to_datetime(df["Created Date"])
    df['month'] = df['Created Date'].apply(lambda x:x.month)
    df['hour'] = df['Created Date'].apply(lambda x:x.hour)
    df['weekday'] = df['Created Date'].apply(lambda x:x.weekday())

    agency_num = {}
    for num, agency in enumerate((df['Agency'].unique())): 
         agency_num[agency] = num
    df['agency_num'] = df['Agency'].apply(lambda x: agency_num[x])
    
    df["Borough"] = df["Borough"].str.replace('\d+', '')
    df["Borough"] = df["Borough"].str.replace('Unspecified', '')    
    df["Borough"] = df["Borough"].str.strip()
    df["borough_num"] = df["Borough"].map({"MANHATTAN":1, "BROOKLYN":2, "QUEENS":3, "STATEN ISLAND":4, "BRONX":5})
    df["borough_num"].fillna(0, inplace= True)
    df['borough_num'] = df['borough_num'].astype(int)
    df = df[df["borough_num"] != 0]
    
    def transform_processing(time):
        if time > 1:
            return 1
        else:
            return 0
    
    df["processing_time_bucket"] = df["processing_time"].apply(transform_processing)
    
    
    
    df[['hour', 'month', 'weekday', 'agency_num', 'borough_num', 'processing_time_bucket']].to_csv('filtered.csv',index=False)

In [273]:
filter_nyc()

In [274]:
    # Question 2: build the model and predict
def build_and_predict():
    data = pd.read_csv('filtered.csv')
    test = pd.read_csv('topredict.csv')
    
    # Your work here
    
    # yourDF.to_csv('predictions.csv',index=True,index_label='index') (you can change this line if you want)

IndentationError: expected an indented block (<ipython-input-274-4ebbe030d2c2>, line 3)